flask
flask_sqlalchemy
flask_migrate
flask_login
mysql-connector-python
google-generativeai
reportlab
plotly
flask-wtf
flask-mail
redis
gunicorn
psycopg2-binary
stripe
Authlib
PyMySQL
python-dotenv
certifi
