<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="300">
    <!-- Inclua os links para o Bootstrap CSS e JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Sobre o Sistema</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="ml-5 mr-5 bordered">
    <h3 class="text-center">Sistema Homium 1.2 de Gestão Residencial</h3>
    <ul class="list-group">
        <li class="list-group-item active text-center">Desenvolvido por Iago Chiapetta</li>
        <li class="list-group-item text-center">Sistema de sessão de usuários implementado a partir dessa versão.</li>
        <li class="list-group-item text-center">Lista de compras com somatório de itens pela quantidade</li>
        <li class="list-group-item text-center">Cadastro de produtos com valores em reais (R$)</li>
        <li class="list-group-item text-center">Atualizado em: 98 de fevereiro de 2024.</li>
        </ul>

    </ul>
</div>  
    <script src="https://kit.fontawesome.com/39df25bfda.js" crossorigin="anonymous"></script>
</body>
</html>