<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='images/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='images/favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='images/site.webmanifest') }}>
    <meta http-equiv="refresh" content="300">
    <!-- Inclua os links para o Bootstrap CSS e JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url("{{url_for('static', filename='images/foto.jpeg')}}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
    <title>Sobre o Sistema</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container rounded mt-5 mb-3">
        <div class="card bg-light shadow bg-opacity-75 p-4">
            <h3 class="text-center text-dark">Sistema Meu Tesouro de Gestão Residencial Versão 2409</h3>
            <ul class="list-group">
                <li class="list-group-item text-center">Melhorias e avanços consideráveis no assistente de IA.</li>
                <li class="list-group-item text-center">Adotada criptografia nos dados dos usuários como medida de segurança.</li>
                <li class="list-group-item text-center">Possibilidade de compartilhar lista de compras por meio de link.</li>
                <li class="list-group-item text-center"> Melhorias no algoritmo que calcula o saldo_atualizado para que não ocorram divergências de valor.</li>
                <li class="list-group-item text-center"> Melhorias na lista de compras e no compartilhamento dela.</li>
        </ul>
        </div>
    </div>
    {% include 'buttons.html' %}
    <script>
        document.getElementById('btnSwitch').addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        });

        // Verifica se há um tema armazenado no armazenamento local
        const storedTheme = localStorage.getItem('theme');
        if (storedTheme) {
            document.documentElement.setAttribute('data-bs-theme', storedTheme);
        }
    </script>
    <script src="{{url_for('static', filename='fonts/js/all.js')}}" crossorigin="anonymous"></script>
</body>
</html>
