<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='images/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='images/favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='images/site.webmanifest') }}>
    <meta http-equiv="refresh" content="300">
    <!-- Inclua os links para o Bootstrap CSS e JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url("{{url_for('static', filename='images/foto.jpg')}}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
    <title>Sobre o Sistema</title>
</head>
<body>
    {% include 'navbar.html' %}
    <!-- Botão flutuante para alternar modo claro/escuro -->
    <div class="position-fixed fixed-bottom mb-3 mr-3 ml-2">
        <button type="button" class="btn btn-dark border shadow" title="Alternar entre Modo Claro e Escuro" id="btnSwitch">
            <i class="fa-solid fa-circle-half-stroke fa-bounce"></i>
        </button>
    </div>
    <div class="container rounded mt-5">
        <div class="card bg-light shadow bg-opacity-75 p-4">
            <h3 class="text-center text-dark">Sistema Homium 2.0 Release 1 de Gestão Residencial</h3>
            <ul class="list-group">
                <li class="list-group-item active text-center">Desenvolvido por Iago Chiapetta</li>
                <li class="list-group-item text-center">Por questões de velocidade e segurança o sistema abandona o SQLite e agora armazena as informações em um banco de dados MySql</li>
                <li class="list-group-item text-center">O sistema agora pode gerenciar e criar o planejamento financeiro de uma pessoa ou família automaticamente.</li>
                <li class="list-group-item text-center">Incluída inteligência artificial financeira ao sistema para auxiliar a sua utilização</li>
                <li class="list-group-item text-center">Sistema de sessão de usuários implementado a partir dessa versão.</li>
                <li class="list-group-item text-center">Lista de compras com somatório de itens pela quantidade</li>
                <li class="list-group-item text-center">Cadastro de produtos com valores em reais (R$)</li>
                <li class="list-group-item text-center">Atualizado em: 04 de abril de 2024.</li>
            </ul>
        </div>
    </div>
    <script>
        document.getElementById('btnSwitch').addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        });

        // Verifica se há um tema armazenado no armazenamento local
        const storedTheme = localStorage.getItem('theme');
        if (storedTheme) {
            document.documentElement.setAttribute('data-bs-theme', storedTheme);
        }
    </script>
    <script src="{{url_for('static', filename='fonts/js/all.js')}}" crossorigin="anonymous"></script>
</body>
</html>
