<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>
<link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='images/favicon-32x32.png') }}>
<link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='images/favicon-16x16.png') }}>
<link rel="manifest" href={{ url_for('static', filename='images/site.webmanifest') }}>
<title>Assistente</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .response-container {
    margin-bottom: 20px; /* Adiciona espaço entre a resposta e a caixa de entrada */
  }
</style>
</head>
<body>
    {% include 'navbar.html' %}
  <div class="container mt-5">
    <div class="message alert shadow alert-primary" role="alert">
      <p>Olá {{username}},  sou seu Assistente de finanças. Estou aqui para ajudar...</p>
    </div>
  </div>

  <div class="container fixed-bottom mb-3 p-3">
    <form action="" method="post" class="input-group">
      <input type="text" id="entrada" name="entrada" class="form-control" placeholder="Digite sua mensagem...">
      <div class="input-group-append shadow mb-3">
        <input type="submit" value="Enviar" class="btn btn-primary" onclick="sendMessage()">
      </div>
    </form>
  </div>

  <div class="container mt-3 resposta">
    {% if response %}
    <div class="message alert shadow alert-success" style="overflow-y: auto;" role="alert">
      <p>Usuário: <span>{{ entrada }}</span></p><br>
      <p>Assistente: <span>{{ response }}</span></p><br>
    </div>
    {% endif %}
  </div>

  <script>
    function sendMessage() {
      var userInput = document.getElementById("user-input").value;
      if (userInput.trim() !== "") {
        var chatContainer = document.querySelector(".resposta");
        var userMessage = document.createElement("div");
        userMessage.classList.add("message", "alert", "alert-primary");
        userMessage.innerHTML = "<p>" + userInput + "</p>";
        chatContainer.appendChild(userMessage);
        document.getElementById("user-input").value = "";
        // Aqui você pode adicionar a lógica para a resposta do bot GPT
      }
    }
  </script>
</body>
</html>
