<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="300">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <title>Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1 class="text-center mt-3">Bem-vindo, {{ username }}!</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="chart1" class="py-3">
                    {{ graph_html1|safe }}
                </div>
            </div>
            <div class="col-md-6">
                <div id="chart2" class="py-3">
                    {{ graph_html2|safe }}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Botão flutuante para alternar modo claro/escuro -->
    <div class="position-fixed fixed-bottom mb-3 mr-3 ml-2">
        <button type="button" class="btn btn-dark border shadow" title="Alternar entre Modo Claro e Escuro" id="btnSwitch">
            <i class="fa-solid fa-circle-half-stroke fa-bounce"></i>
        </button>
    </div>
    
    <!-- Script para alternar entre os modos claro e escuro -->
    <script>
       document.getElementById('btnSwitch').addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);

            const tableBody = document.querySelector('.table-body');
            tableBody.classList.toggle('table-dark');
        });

        // Verifica se há um tema armazenado no armazenamento local
        const storedTheme = localStorage.getItem('theme');
        if (storedTheme) {
            document.documentElement.setAttribute('data-bs-theme', storedTheme);
            const tableBody = document.querySelector('.table-body');
            if (storedTheme === 'dark') {
                tableBody.classList.add('table-dark');
            } else {
                tableBody.classList.remove('table-dark');
            }
        }
    </script>
    <script src="{{url_for('static', filename='fonts/js/all.js')}}" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
