<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='images/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='images/favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='images/site.webmanifest') }}>
    <meta http-equiv="refresh" content="300">
    <!-- Inclua os links para o Bootstrap CSS e JavaScript -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/theme.js')}}"></script>
    <style>
        body {
            background: url("{{url_for('static', filename='images/foto.jpeg')}}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
    <title>Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-3 rounded mb-5 pb-4">
        <div class="card bg-light bg-opacity-75 shadow p-4">
            <h1 class="text-center text-dark mt-3">Bem-vindo ao site Meu Tesouro, {{ username }}!</h1>
            <h2 class="text-center text-dark mt-3">Aqui estão suas Informações financeiras desse mês</h2>
            <div class="row text-center mt-2">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-success">Valor Total das Dívidas</h4>
                            <p class="card-text">R$ {{ '{:.2f}'.format(total_price) }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-success">Saldo Atualizado</h4>
                            <p class="card-text">R$ {{ '{:.2f}'.format(saldo_atualizado) }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-success">Limite diário recomendado</h4>
                            <p class="card-text">R$ {{ '{:.2f}'.format(por_dia) }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <hr class="border border-dark">
            </div>

            <!-- Card "Vamos começar" com opções de uso -->
            <div class="card mt-5 mb-3">
                <div class="card-body">
                    <h3 class="card-title text-center">Não sabe por onde começar?</h3>
                    <p class="card-text text-center">Selecione uma das opções abaixo para começar a usar o sistema:</p>
                    <div class="row text-center">
                        <div class="col-md-4 mb-3">
                            <a href="{{url_for('balance')}}" class="btn btn-primary">Recebimentos</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="{{url_for('debitos')}}" class="btn btn-warning">Pagamentos</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="{{url_for('listar_gastos')}}" class="btn btn-success">Despesas</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="chart1" class="py-3">
                            {{ graph_html1|safe }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="chart2" class="py-3">
                            {{ graph_html2|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive mt-4">
                {% if porcentagem_formatado %}
                <table class="table table-bordered text-center">
                    <thead class="table-light">
                        <tr>
                            <th>Informação</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Porcentagem do saldo na conta até o momento:</td>
                            <td>{{ porcentagem_formatado }} %</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>

            {% include 'buttons.html' %}
        </div>
    </div>

    <!-- Script para alternar entre os modos claro e escuro -->
    <script>
        document.getElementById('btnSwitch').addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);

            const tableBody = document.querySelector('.table-body');
            tableBody.classList.toggle('table-dark');
        });

        themeSwitch.addEventListener('change', function() {
            const newTheme = themeSwitch.checked ? 'dark' : 'light';
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        });

        // Função para definir o tema inicial
    function setInitialTheme() {
        const storedTheme = localStorage.getItem('theme'); // Obtém o tema armazenado no localStorage
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches; // Verifica se o sistema prefere o tema escuro

        // Aplica o tema armazenado ou o padrão do sistema
        if (storedTheme) {
            document.documentElement.setAttribute('data-bs-theme', storedTheme);
        } else {
            document.documentElement.setAttribute('data-bs-theme', prefersDarkScheme ? 'dark' : 'light');
        }
    }

    // Configurar o tema inicial ao carregar a página
    setInitialTheme();
    </script>
    <script src="{{url_for('static', filename='fonts/js/all.js')}}" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
