<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <meta http-equiv="refresh" content="300">
    <!-- Inclua os links para o Bootstrap CSS e JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url("{{ url_for('static', filename='images/foto.jpg') }}") no-repeat center center fixed;
            background-size: cover;
        }
        .divider {
            border-bottom: 1px solid #000;
            margin: 20px 0;
        }
    </style>
    <title>Histórico</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container mt-5 mb-5 pb-4">
        <div class="card bg-light bg-opacity-75 p-4">
            <h2 class="text-center text-dark mb-3">Dívidas quitadas</h2>

            <!-- Exibição do Valor Total das Dívidas Quitadas e Saldo Atualizado em Cards -->
            <div class="row text-center">
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-success">Valor Total das Dívidas Quitadas</h5>
                            <p class="card-text">R$ {{ '{:.2f}'.format(total_value | default(0)) }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <hr class="border border-dark">
                </div>

            <!-- Tabela de Dívidas Quitadas -->
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead class="table-light">
                        <tr>
                            <th>Desc.</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for item in debts_history %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.maturity.strftime("%d/%m/%Y") }}</td>
                                <td> R$ {{ '{:.2f}'.format(item.value) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'buttons.html' %}
            
    <script>
        // Define o tema claro por padrão em dispositivos móveis
        const isMobile = window.innerWidth <= 767;
        if (isMobile) {
            document.documentElement.setAttribute('data-bs-theme', 'light');
            const tableBody = document.querySelector('.table-body');
            tableBody.classList.add('table-dark');

        } else {
            // Verifica se há um tema armazenado no armazenamento local para desktops
            const storedTheme = localStorage.getItem('theme');
            if (storedTheme) {
                document.documentElement.setAttribute('data-bs-theme', storedTheme);
                const tableBody = document.querySelector('.table-body');
                if (storedTheme === 'dark') {
                    tableBody.classList.add('table-dark');
                } else {
                    tableBody.classList.remove('table-dark');
                }
            } else {
                document.documentElement.setAttribute('data-bs-theme', 'light');
            }
        }

        document.getElementById('btnSwitch').addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);

            const tableBody = document.querySelector('.table-body');
            tableBody.classList.toggle('table-dark');
        });
    </script>
    <script src="{{ url_for('static', filename='fonts/js/all.js') }}" crossorigin="anonymous"></script>
</body>
</html>
