<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top sticky-bottom">
          <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Iago Chiapetta Tecnologia</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Compras</a></li>
            <li class="nav-item"><a href="/debts" class="nav-link px-2 text-body-secondary">Contas</a></li>
            <li class="nav-item"><a href="/ai" class="nav-link px-2 text-body-secondary">Assistente</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">Sobre</a></li>
          </ul>
        </footer>
      </div>
      
</body>
</html>