<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Histórico</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='images/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='images/favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='images/site.webmanifest') }}>
    <meta http-equiv="refresh" content="300">
    <!-- Inclua os links para o Bootstrap CSS e JavaScript -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/theme.js')}}"></script>
    <style>
        body {
            background: linear-gradient(to bottom right, #c5cae9, #e2e7f1); /* Gradiente mais escuro */
            background-size: cover;
            background-repeat: no-repeat; /* Remove a repetição da imagem */
            background-position: center; /* Centraliza a imagem no fundo */
            margin: 0; /* Remove a margem padrão do body */
            background-attachment: fixed; /* Fixa o fundo ao rolar */
        }
        .divider {
            border-bottom: 1px solid #000;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5 mb-5 pb-4">
        <div class="card shadow rounded bg-light bg-opacity-75 p-4">
            <h2 class="text-center text-dark mb-3">Compras realizadas</h2>

            <!-- Exibição do Valor Total das Compras em um Card -->
            <div class="text-center mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-success">Valor Total das Compras Realizadas</h5>
                        <p class="card-text">R$ {{ '{:.2f}'.format(total_price | default(0)) }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <hr class="border border-dark">
            </div>

            <!-- Tabela de Compras -->
            <div class="table-responsive mt-4">
                <table class="table table-bordered text-center">
                    <thead class="table-light">
                        <tr>
                            <th>Desc.</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for item in shopping_list %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>R$ {{ '{:.2f}'.format(item.price) }}</td>
                                <td>{{ item.date.strftime("%d/%m/%Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'buttons.html' %}

    <script>
        // Define o tema claro por padrão em dispositivos móveis
        const isMobile = window.innerWidth <= 767;
        if (isMobile) {
            document.documentElement.setAttribute('data-bs-theme', 'light');
            const tableBody = document.querySelector('.table-body');
            tableBody.classList.toggle('table-dark');
        } else {
            // Verifica se há um tema armazenado no armazenamento local para desktops
            const storedTheme = localStorage.getItem('theme');
            if (storedTheme) {
                document.documentElement.setAttribute('data-bs-theme', storedTheme);
                const tableBody = document.querySelector('.table-body');
                if (storedTheme === 'dark') {
                    tableBody.classList.add('table-dark');
                } else {
                    tableBody.classList.remove('table-dark');
                }
            } else {
                document.documentElement.setAttribute('data-bs-theme', 'light');
            }
        }

        document.getElementById('btnSwitch').addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);

            const tableBody = document.querySelector('.table-body');
            tableBody.classList.toggle('table-dark');
        });
    </script>
    <script src="{{url_for('static', filename='fonts/js/all.js')}}" crossorigin="anonymous"></script>
</body>
</html>
