<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Histórico</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='images/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='images/favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='images/site.webmanifest') }}>
    <meta http-equiv="refresh" content="300">
    <!-- Inclua os links para o Bootstrap CSS e JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url("{{url_for('static', filename='images/foto.jpg')}}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5 mb-3">
        <div class="card bg-light bg-opacity-75 p-4">
            <h2 class="text-center text-dark">Compras realizadas</h2>

            <!-- Exibição do Valor Total da Compra -->
            <div>
                <h4 class="text-success text-center">Valor Total das Compras Realizadas: R$ {{ '{:.2f}'.format(total_price) }}</h4>
            </div>

            <!-- Tabela de Compras -->
            <div class="table-responsive mt-4">
                <table class="table table-bordered text-center">
                    <thead class="table-light">
                        <tr>
                            <th>Desc.</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for item in shopping_list %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>R$ {{ '{:.2f}'.format(item.price) }}</td>
                                <td>{{ item.date.strftime("%d/%m/%Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Botão flutuante para alternar modo claro/escuro -->
    <div class="position-fixed fixed-bottom mb-3 mr-3 ml-2 d-none d-md-block">
        <button type="button" class="btn btn-dark border shadow" title="Alternar entre Modo Claro e Escuro" id="btnSwitch">
            <i class="fa-solid fa-circle-half-stroke fa-bounce"></i>
        </button>
    </div>

    <script>
        // Define o tema claro por padrão em dispositivos móveis
        const isMobile = window.innerWidth <= 767;
        if (isMobile) {
            document.documentElement.setAttribute('data-bs-theme', 'light');
            const tableBody = document.querySelector('.table-body');
            tableBody.classList.toggle('table-dark');
        } else {
            // Verifica se há um tema armazenado no armazenamento local para desktops
            const storedTheme = localStorage.getItem('theme');
            if (storedTheme) {
                document.documentElement.setAttribute('data-bs-theme', storedTheme);
                const tableBody = document.querySelector('.table-body');
                if (storedTheme === 'dark') {
                    tableBody.classList.add('table-dark');
                } else {
                    tableBody.classList.remove('table-dark');
                }
            } else {
                document.documentElement.setAttribute('data-bs-theme', 'light');
            }
        }

        document.getElementById('btnSwitch').addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);

            const tableBody = document.querySelector('.table-body');
            tableBody.classList.toggle('table-dark');
        });
    </script>
    <script src="{{url_for('static', filename='fonts/js/all.js')}}" crossorigin="anonymous"></script>
</body>
</html>
